@import url("//cdn.web-fonts.ge/fonts/bpg-algeti-compact/css/bpg-algeti-compact.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "BPG Algeti Compact", sans-serif;
}

.nav-item-name {
    display: none;
    transition: opacity 0.2s ease-in-out;

}

#navigation-container {
    width: 4%;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

#navigation-container:hover {
    width: 15%;

}

#navigation-container:hover .nav-item-name {
    display: block;
   opacity: 1;
}